@charset "euc-kr";
/**************************
Title: SHINE CSS Style
File Name: common.css
Create Date: 2011/2/3
Creator: SHINE
**************************/

* {padding:0; margin:0;}
body {font-size:12px; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#777777;}
img {border:none;}
li {list-style:none;}
em, address { font-style:normal;}
a {color:#777777; text-decoration:none;}
a:hover {color:#777777; text-decoration:underline;}
#wrap {width:970px; padding:0; margin:0 auto;}

/* header
------------------------------------------- */
#header {width:970px; height:76px; border-top:#8a85d5 3px solid; position:relative; font-size:11px;}
#header a:hover {text-decoration:none;}
#header_img {width:970px; clear:both; border:#CCC 1px solid;}
h1 {position:absolute; top:18px; left:30px; background:url(../img/logo.jpg) no-repeat top left; text-indent:-9999px;}
h1 a {width:124px; height:37px; display:block;}
.header_login {text-align:right;padding:3px 10px 0 0 ;}
/* foot
------------------------------------------- */
#foot {border-top:#dddddd 1px solid; background:#f9f9f9; padding:14px 0 0 0; clear:both;}
#foot2 {width:970px; height:55px; padding:0; margin:0 auto;}
#foot2 #foot_l {width:240px; float:left; padding-top:6px; text-align:center;}
#foot2 #foot_m {width:700px; float:left;}
#foot2 #foot_m ul {clear:right;}
#foot2 #foot_m ul li {float:left; padding:6px 2px;}
#foot2 #foot_m address {clear:both;}