<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->   
    <typeAliases> 
      <typeAlias type="taehoon.com.bean.SexyMemberBean" alias="smb"/>
      <typeAlias type="taehoon.com.bean.SexyCompanyBean" alias="scb"/>
      <typeAlias type="taehoon.com.bean.SexyProductBean" alias="spb"/>
          
    </typeAliases> 
    <mappers>
      <mapper resource="taehoon/com/dao/sexy-mapper.xml"/>
    </mappers>
</configuration>






